body {
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  li:last-child {
    border-bottom: none;
  }
  li.completed {
    text-decoration: line-through;
  }
  .add-task {
    margin-top: 20px;
    display: flex;
  }
  .add-task input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .add-task button {
    padding: 10px;
    border: none;
    background-color: #6a4caf;
    color: #fff;
    border-top-right-radius: 10px;
    cursor: pointer;
  }